<div id="breadcrumb">
	Goodies
		<span>/</span>
	<%= link_to 'Generators', generators_path %>
		<span>/</span>
	Horrorshow Portal
</div>

<div class="wrapper_skinny">
  <div class="side-box">
    <div class="side-content">
      <div class="ipsum">
        <h2>Horrorshow Ipsum</h2>
        <%= @horror_ipsum %>
      </div>
    </div>
  </div>
</div>