<div id="other_background_nocenter" style="overflow-y: auto;">
	<div class="container trans-bg mt-6 pb-5 px-5 rounded">

		<div class="row text-correct mt-4 px-4 justify-content-center">
			<div class="col-12 my-4">
				<div id="breadcrumb">
					Goodies
						<span>/</span>
					<%= link_to 'Generators', generators_path %>
						<span>/</span>
					Modern Portal
				</div>
			</div>
		</div>
		<div class="row text-correct mt-4 pb-6 text-align-center">
			<div class="col-4 pb-6">
		        <%= names %>
			</div>
			<div class="col-8 text-correct mb-6 pb-6">
			    <h2>'Merican Ipsum</h2>
		        <%= @merican_ipsum %>
			</div>
		</div>

	</div>
</div>