<div id="other_background_nocenter" style="overflow-y: auto;">
	<div class="container trans-bg mt-6 pb-5 px-5 rounded">

		<div class="row text-correct mt-4 px-4">
			<div class="col-12 my-4">
				<div id="breadcrumb">
					Goodies
						<span>/</span>
					<%= link_to 'Generators', generators_path %>
						<span>/</span>
					Sci-Fi Portal
				</div>
			</div>
		</div>
		<div class="row text-correct mt-4 pb-6 text-align-center">
			<div class="col-3 text-correct mb-6 pb-6">
				<div class="row">
					<div class="col-12 pb-6">
						<%= render 'ipsums/sidebar' %>
					</div>
				</div>
				<div class="row">
					<div class="col-12 pb-6">
						
					</div>
				</div>
			</div>
			<div class="col-9 text-correct mb-6 pb-6">
			    <h2>Science Fiction Ipsum</h2>
		        <%= @scifi_ipsum %>
			</div>
		</div>
	</div>
</div>