<% if user_signed_in? && current_user.favorited?(@track) %>
  <%= link_to image_tag('icons/heart_full.svg', width: 11), track_unfavorite_path(@track), method: :post, remote: true %> <%= @track.favorites_count %> Stations<span style="margin-right: 6px"></span>| 
<% else %>
  <%= link_to image_tag('icons/heart_empty.svg', width: 11), track_favorite_path(@track), method: :post, remote: true %> <%= @track.favorites_count %> Stations<span style="margin-right: 6px"></span>| 
<% end %>