<div class="icons">
  <%= image_tag('icons/heart_empty.svg', width: 20) %>
</div>
<div class="icons">
  <%= image_tag('icons/comments.svg', width: 20) %>
</div>
<div class="icons">
  <%= image_tag('icons/comments.svg', width: 20) %>
</div>
<div class="icons">
  <%= image_tag('icons/comments.svg', width: 20) %>
</div>