  <div id="breadcrumb">
		Goodies
			<span>/</span>
		<%= link_to 'Generators', generators_path %>
			<span>/</span>
		Ipsum
	</div>

  <div class="wrapper_skinny">
    <div class="side-box">
      <div class="side-content">
        <div class="ipsum">
          <h2>American Ipsum</h2>
          <%= @ipsum1 %>
        </div>
      </div>
    </div>
  
    <div class="side-box">
      <div class="side-content">
        <div class="ipsum">
          <h2>Fallout Ipsum</h2>
          <%= @ipsum2 %>
        </div>
      </div>
    </div>
  
    <div class="side-box">
      <div class="side-content">
        <div class="ipsum">
          <h2>Nature Ipsum</h2>
          <%= @ipsum3 %>
        </div>
      </div>
    </div>
  </div>