<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>
	
  <div id="breadcrumb">
		Goodies
			<span>/</span>
		Generators
	</div>
	
  <div class="wrapper_skinny">
    <div class="side-box">
      <div class="side-content">
        <div class="ipsum">
          <h2>All Generators</h2>
          <%= link_to "Names", names_gen_path %><br />
          <%= link_to "Ipsums", ipsum_path %>
        </div>
      </div>
    </div>
</div>