<div class="container">
    <div class="row mt-3 bg-white rounded shadow mx-auto">
        <div class="col-9">
            <h1 class="site-blue">Pick a Subscription Plan, Fucker</h1>
        </div>
    </div>
</div>