<div class="row p-2">
  <div class="col-12">
      <a data-target="#collapseComment" data-toggle="collapse" aria-expanded="false" aria-controls="collapseComment">
        <h4 class="card-subtitle inline-block text-muted"><i class="fas fa-plus-circle site-blue mr-2"></i>Leave a Comment</h4>
      </a>
  </div>
</div>

<div class="collapse" id="collapseComment">
    <%= form_for [@commentable, @comment] do |f| %>
        <% if @comment.errors.any? %>
            <div class="error_messages">
            <h3>Please correct the following errors.</h3>
            <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="row px-3 pb-1">
          <div class="col-12 justify-content-center">
              <div class="form-group">
                  <%= f.text_area :content, placeholder: "what do you think about this?", class: "form-control mr-2" %>
              </div>
          </div>
        </div>
        
        <div class="row px-3 pb-3">
          <div class="col-12 justify-content-center">
            <%= f.submit "Submit", class: "btn btn-danger" %>      
          </div>
        </div>
        
    <% end %>
</div>