<div id="content-wrap">
  <div class="left-column">
    <div class="title-box">
      Conversations
    </div>
    <div class ="pagination-container">
      <%= paginate @conversations %>
    </div>

    <div id="content-show">
      <%= render @conversations %>
    </div>
  </div>
</div>