<div class="row">
    <% @active.each do |active| %>
        <div class="col-9">
            <%= link_to active.title, topic_path(active) %>
        </div>
        <div class="col-3">
            <small><i class="fas fa-comments site-blue" title="comments"></i>
            <span class="ml-1 text-secondary"><%= active.comments.count %></span></small>
        </div>
    <% end %>
</div>