<% @active.each do |active| %>
    <div class="lightline mx-auto"></div>
        <div class="row">
            <div class="col-2">
                <small>
                <% active.tags.map(&:name).each do |tag| %>
  					<% @icon = tag.split.map(&:downcase).join('_') %>
      				<% if lookup_context.template_exists?(@icon, "topics/icons", true) %>
      					
					    <%= render partial: "topics/icons/#{@icon}" %>
					<% else %>
						<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/default-site-blue.png', width: 30, title: "#{@icon}", class: "pt-1") %>
					<% end %>
				<% end %>
                    
                </small>
            </div>
            <div class="col-8">
                <%= link_to active.title, topic_path(active) %>
            </div>
            <div class="col-2">
                <small><span class="text-secondary tags"><%= active.comments.count %></span></small>
            </div>
        </div>
<% end %>