<h5 style="display: inline-block"><%= link_to User.find(notification.notified_by_id).username, user_path(notification.notified_by_id) %></h5> 
  sent you a private <%= link_to 'message', conversation_path(notification.parent_id) %> 
