<h5 style="display: inline-block"><%= link_to User.find(notification.notified_by_id).username, user_path(notification.notified_by_id) %></h5> 
  removed <h5 style="display: inline-block"><%= link_to Track.find(notification.notifiable_id).title, track_path(notification.notifiable_id) %></h5> from 
  their station