<div class="row">
  <div class="col-12 col-md-9 small">
     <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    added 

    <%= link_to Track.find(item.item_id).title, track_path(item.item_id) %> to 
    
    <% if item.user == current_user %>
      your official station
    <% else %>
      their official station
    <% end %>
  </div>
  <div class="col-12 col-md-3 small">
      <%= time_ago_in_words(item.created_at) %> ago
  </div>
</div>