<div class="tiny-table-cell" style="width: 58%;">
  <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
  removed <%= link_to Track.find(item.item_id).title, track_path(item.item_id) %> from 
  their station
</div>
<div class="tiny-table-cell" style="width: 22%;">
  <div class="small">
    <%= time_ago_in_words(item.created_at) %> ago
  </div>
</div>