<div class="side-box">
  <div class="side-content">
    
    <% if @user.signature? %>
      <%= @user.signature %>
    <% else %>
      <%= "I haven't updated my signature yet. - " %>
        <% if @user.name? %>
          <strong><%= @user.name %></strong>
        <% else %>
          <%= "Mysterious Stranger" %>
        <% end %>
    <% end %>
      
  </div>
</div>
