<div class="side-box" style="margin-top: 0">
  <div class="side-content">
    <div class="center">
      <p><b>Followers</b></p>
    </div>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <%= link_to user do %>
          <% if user.image? %>
            <%= image_tag(user.image.url(:tiny)) %>
          <% else %>
            <%= image_tag 'default_track.jpg', width: 25 %> 
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>