<div class="side-box">
  <div class="side-content">
    <div class="center">
      <p><b>Following</b></p>
    </div>
  <% if @followed_users.any? %>
    <% @followed_users.each do |followed_user| %>
      <%= link_to followed_user do %>
      
          <% if followed_user.image? %>
            <%= image_tag(followed_user.image.url(:tiny), title: followed_user.name) %>
          <% else %>
            <%= image_tag 'default_track.jpg', width: 25, title: followed_user.name %> 
          <% end %>
      
      <% end %>
    <% end %>
  <% end %>
      
  </div>
</div>