<div class="side-box">
  <div class="side-content">
    <div class="center">
      <p><b>Followers</b></p>
    </div>
  <% if @users.any? %>
    <% @users.each do |user| %>
      <%= link_to user do %>
        <% if user.avatar? %>
          <%= image_tag(user.avatar.url, width: 35) %>
        <% else %>
          <%= image_tag 'default_track.jpg', width: 35 %> 
        <% end %>
      <% end %>
    <% end %>
  <% end %>
      
  </div>
</div>