<div class="side-box" style="margin-top: 0">
  <div class="side-content">
    <% if @user.publisher_type == "publisher" %>
      <h2>Authors</h2>
    <% else %>
      <h2>Pseudonyms</h2>
    <% end %>
    <ul>
  		<% @pseudonyms.each do |pseudo| %>
  			<li>
  			  <p class="description"><%= pseudo.name %>
  			</li>
  		<% end %>
  		
      <% if @user.publisher_type == "publisher" %>
				<% if @user == current_user %>
				  <br>
				  <%= link_to "Add New Author", new_pseudonym_path %>
				<% end %>
		  <% else %>
				<% if @user == current_user %>
				  <br>
				  <%= link_to "Add New Pseudonym", new_pseudonym_path %>
				<% end %>
			<% end %>
  	</ul>
  </div>
</div>