    <% if @user.publisher_type == "publisher" %>
      <h5>Authors</h5>
    <% else %>
      <h5>Pseudonyms</h5>
    <% end %>
    <ul class="list-inline">
  		<% @pseudonyms.each do |pseudo| %>
  			<li class="list-inline-item">
  			  <p class="description"><%= pseudo.name %>
  			</li>
  		<% end %>
  		
      <% if @user.publisher_type == "publisher" %>
            
				<% if @user == current_user %>
				<small>
				  <i class="fas fa-plus-circle site-blue" title="add new"></i> <%= link_to "Add New", new_pseudonym_path %>
				  </small>
				<% end %>
				
		  <% else %>
				<% if @user == current_user %>
				<small>
				  <i class="fas fa-plus-circle site-blue" title="add new"></i> <%= link_to "Add New", new_pseudonym_path %>
				  </small>
				<% end %>
			<% end %>
  	</ul>