<div class="container mt-2">
	<div class="row justify-content-center">
		<div class="col-6">
			<% if alert %>
				<div class="alert alert-danger" role="alert">
					<%= alert %>
				</div>
			<% elsif notice %>
				<div class="alert alert-success" role="alert">
				  <%= notice %>
				</div>
			<% end %>
		</div>
	</div>
</div>
