<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>
	
<div class="wrapper_skinny_left">
    <div class="side-box" style="line-height: 1.5em;">
      <div class="side-content">
        <a href="#Overview">Overview</a><br />
        <a href="#Tracks">Tracks</a><br />
        &#8195;<a href="#Tracks_Overview">Overview</a><br />
        &#8195;<a href="#Audio">Audio Files</a><br />
        <a href="#Selling">Selling in the Marketplace<br />
        &#8195;<a href="#Copyright">Copyrights</a><br />
        &#8195;<a href="#Files">File Uploads</a><br />
        &#8195;<a href="#Stripe">Stripe</a><br />
        &#8195;<a href="#Getting Paid">Helping Glips</a><br />
        <a href="#Genres">Genres</a><br />
        &#8195;<a href="#Genre_Overview">Overview</a><br />
        <a href="#Pro">Pro Accounts</a><br />
      </div>

    </div>
  </div>
  
  <div class="wrapper_wide_right_right">
    <div class="side-box">
      <div class="side-content">
        Welcome to the Yarnn.FM Help Center. Use this page to get better acquainted with the features and inner workings of the site.<br/>
      </div>
    </div>
  </div>
</div>