<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>
	
<div class="wrapper_skinny_left">
    <div class="side-box" style="line-height: 1.5em;">
      <div class="side-content">
        <a href="#Overview">Overview</a><br />
        <a href="#Tracks">Tracks</a><br />
        &#8195;<a href="#Tracks_Overview">Overview</a><br />
        &#8195;<a href="#Audio">Audio Files</a><br />
        <a href="#Selling">Selling in the Marketplace<br />
        &#8195;<a href="#Copyright">Copyrights</a><br />
        &#8195;<a href="#Files">File Uploads</a><br />
        &#8195;<a href="#Stripe">Stripe</a><br />
        &#8195;<a href="#Paid">Getting Paid</a><br />
        <a href="#Genres">Genres</a><br />
        &#8195;<a href="#Genre_Overview">Overview</a><br />
        <a href="#Pro">Pro Accounts</a><br />
      </div>

    </div>
  </div>
  
  <div class="wrapper_wide_right_right">
    <div class="side-box">
      <div class="side-content">
        Welcome to the Yarnn.FM Help Center. Use this page to get better acquainted with the features and inner workings of the site.<br/>
      <a id="Stripe"></a><h2>Stripe</h2>
        We use Stripe for all our transactions so that your information and your money is secure. Stripe makes it so none of your credit card or bank
        information is stored on our site whatsoever. Stripe handles everything. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>      
      <a id="Paid"></a><h2>Getting Paid</h2>
        We make it as easy as possible for you to sell your digital products in our marketplace. In addition, we believe the artist should get most 
        of the proceeds. Unlike other sites, which might take the majority of a transaction, here you get 90%. In order to sell in our marketplace, 
        you will need to be set up with a Stripe account. 
      <br /><div class="small"><a href="#Top">Back to Top</a></div>
      </div>
    </div>
  </div>
</div>