<title>Yarnn.Fm | Audio Short Stories and More</title>
<div id="welcome_background">
  <%= render 'shared/alert' %>

  <div class="jumbotron no-bg">
  <h1 class="text-correct">Entwine with amazing 
  <br />stories and poetry.</h1>
  <p class="lead text-correct">
    The best short audio content on the internet. 
  </p>
  <div class="row">
    <div class="col-6 mt-4">
      <ul class="navbar-nav justify-content-center nav-text text-uppercase">
        <li class="nav-item">
            <%= link_to "create", new_user_session_path, :class => "nav-link text-correct m-2 menu-item" %>
        </li>
      </ul>
    </div>
    <div class="col-6 mt-4">
      <ul class="navbar-nav justify-content-center nav-text text-uppercase">
        <li class="nav-item">
          <%= link_to "signup", new_user_registration_path, :class => "nav-link text-correct m-2 menu-item" %>
        </li>
      </ul>
    </div>
  </div>
</div>
  <%= render 'shared/footer' %>
</div>