<%= render 'shared/alert' %>
<div class="container">
	<div class="row">
      <div class="col-3 trans-bg-3 rounded mr-2">
        <p>We don't sell your information or give it away to anyone else.</p>
      </div>
  
      <div class="col-8 trans-bg-3 rounded text-correct">

      </div>
  </div>
</div>