<div id="other_background" style="overflow-y: auto;">
  
  <div class="container full-form-container">
    <div class="row justify-content-center trans-bg p-3 my-3 p-sm-4 my-sm-5 rounded">
      <div class="col-11">
        <%= render 'links/links_form' %>
      </div>
    </div>
  </div>
</div>