<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
	
  <% if user_signed_in? %>
    <%= render 'layouts/subheader' %>
  <% end %>
  
	<%= render 'shared/alert' %>
    <div class="form_wrapper_skinny">
      <div id="form">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>