<% @topics.each do |topic| %>
  <div class="topics_index">
    <ul>
      <li>
        <%= link_to topic.title, topic_path(topic) %><br>
        <div class="topics_index_content"><%= truncate(topic.content, length: 92) %></div>
        <%= link_to topic.user.username, user_path(topic.user_id) %> - 
        <i><%= time_ago_in_words(topic.created_at) %> ago </i>
      </li>
    </ul>
  </div>
<% end %>