<div id="other_background_nocenter" style="overflow-y: auto;">

  <%= render 'shared/alert' %>
  
    <section>
	  <div class="container mb-3">
	    
	    <div class="row mx-auto bg">
	    	<div class="col-12">
        	<div class="card">
						<div class="card-body">
	        
							<%= render 'tags/tag_cards' %>
			      
        		</div>
	    		</div>
	    </div>
	</section>
</div>	