<div id="album_show">
	<div id="banner" class="track_banner">
	</div>
	
<%= render 'shared/alert' %>

    <div class="form_wrapper_skinny">
      <div id="form">
        <% if current_user.role == "admin" %>
          <%= render "form" %>
        <% else %>
          <p>You do not have permission to do this.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>