<div id="other_background_nocenter" style="overflow-y: auto;">
<%= render 'shared/alert' %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="bg-dark px-3 mt-3 mb-5 text-correct trans-bg-3 rounded">
          <div class="row py-3 rounded-top">
            <div class="col-12">
              <h5 class="site-blue">Latest Activity</h5>
            </div>
          </div>
          
          <%= render 'dashboards/content/feed' %>
          
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="bg-dark px-3 my-3 pb-5 text-correct trans-bg rounded">
        	<div class="row pt-3 rounded">
            <div class="col-12">
              <h5 class="site-blue">Your Content</h5>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-12">
              <%= render partial: "dashboards/content" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>