/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* common area stuff */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  background: #000;
  position: relative;
  min-height: 100%;
}

.no-margin {
  margin-top: 0;
}

.main-content {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
    margin-bottom: 0;
}

.home-header {
  font-size: 4em;
  font-family: 'Teko', sans-serif;
  line-height: 1em;
  color: #fff;
}

a {
  text-decoration: none;
  color: #dc2020;
  &:hover {
    color: #00b8ac;
  }
}

.text-correct {
  color: #a2abb4;
}

.btn-outline {
	background: none;
	padding: 12px 22px;
}

.no-bg {
  background: none;
}

.site-link-white {
  a {
    text-decoration: none;
    color: #fff;
  }
}

.site-red {
  color: #dc2020;
  a {
    text-decoration: none;
    color: #dc2020;
    &:hover {
      color: #00b8ac;
    }
  }
  li a {
    text-decoration: none;
    color: #dc2020;
    &:hover {
      color: #00b8ac;
    }
  }
}

.progress-bar {
    background-color: #00b8ac;
}

.site-blue {
  color: #00b8ac;
  a {
    text-decoration: none;
    color: #00b8ac;
    &:hover {
      color: #dc2020;
    }
  }
  li a {
    text-decoration: none;
    color: #00b8ac;
    &:hover {
      color: #dc2020;
    }
  }
}

.tags {
  padding: .4em .5em;
  display: inline-block;
  margin: 4px 4px 4px 0;
  font-size: 10px;
  line-height: 1;
  a {
    color: #00b8ac;
    text-decoration: none;
    &:hover {
      color: #dc2020;
    }
  }
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  transition: all .15s ease-in-out;
  border: 1px solid #00b8ac;
  border-radius: .25em;
}

.image-full {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}


/* borders */
.content-border {
  border: 1px solid #e9e9e9;
}

.bordered {
  border: 1px solid #868e96;
}

li.borderless {
  border-top: 0 none;
}

.crown-border {
  border-top: 3px solid #00b8ac;
}
  
.container-shadow {
  box-shadow: 1px 2px 5px #999;
}

audio {
  display: block;
  width: 100%;
}

/* end of common stuff */

/* nav stuff */
.navbar-top-image {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url('bg-dark.jpeg');
  min-height: 80px;
}

.trans-bg {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url('bg-dark.jpeg');
}

.trans-bg-light {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url('bg-dark.jpeg');
}

.trans-bg-2 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url('bg-dark.jpeg');
}

.trans-bg-3 {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1)), url('yarnn-bg-dark.png');
}

.nav-text {
  font-size: 12px;
  letter-spacing: 3px;
}

.nav-text-tiny {
  font-size: 10px;
  letter-spacing: 0;
}

.navbar-nav > li:after {
  content: " ";
  display: block;
  border-bottom: 1px solid #00b8ac;
  width: 0%;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  margin: 0 auto;
}

.navbar-nav > li.active:after,
.navbar-nav > li.active:hover:after,
.navbar-nav > li:hover:after {
  width: 90%;
}

.animated-underline:after {
  display: block;
  content: " ";
  border-bottom: 1px solid #00b8ac;
  width: 0%;
  transition: width 0.5s ease;
  margin: 0 auto;
}

.animated-underline:hover:after {
  width: 90%;
}

.navbar-nav > li:only-child:hover:after {
  width: 20%;
}

.navdrop-link {
  transition: all .4s;
  a {
    text-decoration: none;
    color: #23272B;
  }
}

.navdrop-link:hover {
  a {
    color: #00b8ac;
  }
  background-color: #23272B;
  border-radius: 5px;
}

.current {
    background-color: #dc2020;
    border-radius: 7px;
    transition: all .3s;
}

.current:hover {
    background-color: #a70707;
    border-radius: 7px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
}

#footer2 {
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
}

.site-stat {
  transition: all .6s;
}

.site-stat:hover {
  -webkit-transform: scale(1.5) translate(0px, -5px);
    -ms-transform: scale(1.5) translate(0px, -5px);
    transform: scale(1.5) translate(0px, -5px);
    -moz-transform: scale(1.5) translate(0px, -5px);
    -o-transform: scale(1.5) translate(0px, -5px);
}

/* end of nav stuff */

.full-form-container {
  width: 50%;
  margin-bottom: 40px;
}

.wide-form-container {
  width: 900px;
  margin-bottom: 40px;
}

.colorgraph {
  height: 1px;
  border-top: 0;
  background: linear-gradient(rgba(0, 184, 172, .5), rgba(0, 184, 172, .9));
  background: #00b8ac;
}

.grayline {
  height: 1px;
  border-top: 0;
  background: #868e96;
  margin: 4px 0;
}

.grayline-dark {
  height: 1px;
  border-top: 0;
  background: #333;
  margin: 4px 0;
}

.border-dark {
  border: 1px solid #131520;
}

.alert-good {
  background: linear-gradient(rgba(33, 85, 33, .7), rgba(33, 85, 33, .9)), url('bg-dark.jpeg');
  border-radius: 5px;
  border: 1px solid #a2abb4;
  color: #a2abb4;
}

.alert-bad {
  background: linear-gradient(rgba(161, 0, 0, .7), rgba(161, 0, 0, .9)), url('bg-dark.jpeg');
  border-radius: 5px;
  border: 1px solid #a2abb4;
  color: #a2abb4;
}

.pagination-container {
  width: 80%;
  height: 40px;
  margin: 0 auto;
}

.pagination a, .pagination span.current, .pagination span.gap {
    text-align: center;
    padding: 6px 9px;
    margin: 0 5px;
    font-size: .7em;
    text-decoration: none;
    border: 1px solid #dc0000;
}

.pagination {
    span.current {
      background-color: #dc0000;
      color: white;
    }
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

/* Tooltip container */
.tooler {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #DC2020;
    font-size: .85rem;
}

/* Tooltip text */
.tooler .toolertext {
    visibility: hidden;
    width: 200px;
    background-color: #e0e0e0;
    color: #333;
    text-align: center;
    line-height: 1.5;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooler:hover .toolertext {
    visibility: visible;
}

trix-toolbar .trix-button-group button {
  background-color: white;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .full-form-container {
    width: 600px;
  }
  
  .wide-form-container {
    width: 800px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .full-form-container {
    width: 700px;
  }
  
  .wide-form-container {
    width: 900px;
  }
  
}

@media only screen and (max-width : 768px) {
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .home-header {
    font-size: 3em;
    font-family: 'Teko', sans-serif;
    line-height: 1em;
    color: #fff;
  }
    
  .full-form-container {
    width: 85%;
  }
  
  .wide-form-container {
    width: 90%;
  }
    
  .g-recaptcha {
      transform: scale(0.60);
      transform-origin: 0 0;
  }
}