/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* common area stuff */
body {
  margin-top: 80px;
  background-image: image-url('asanoha.png');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
}

.btn-outline {
	background: none;
	padding: 12px 22px;
}

.site-link-white {
  a {
    text-decoration: none;
    color: #fff;
  }
}

.site-red {
  color: #dc2020;
  a {
    text-decoration: none;
    color: #dc2020;
  }
}

.site-red:hover {
  color: #00b8ac;
  text-decoration: none;
}

.site-blue {
  color: #00b8ac;
  a {
    text-decoration: none;
    color: #00b8ac;
  }
}

.site-blue:hover {
  color: #dc2020;
  text-decoration: none;
}

.image-full {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}

li.borderless {
  border-top: 0 none;
}

.crown-border {
  border-top: 3px solid #e7eaec;
}
  
.container-shadow {
  box-shadow: 1px 2px 5px #999;
}

/* end of common stuff */

/* nav stuff */
.navbar-top-image {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url('bg-dark.jpeg');
  min-height: 80px;
}

.trans-bg {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url('bg-dark.jpeg');
}

.navdrop-link {
  transition: all .4s;
  a {
    text-decoration: none;
    color: #23272B;
  }
}

.navdrop-link:hover {
  a {
    color: #00b8ac;
  }
  background-color: #23272B;
  border-radius: 5px;
}

.current {
    background-color: #dc2020;
    border-radius: 7px;
    transition: all .3s;
}

.current:hover {
    background-color: #00b8ac;
    border-radius: 7px;
}

/* end of nav stuff */

.full-form-container {
  width: 600px;
}

.colorgraph {
  height: 1px;
  border-top: 0;
  background: linear-gradient(rgba(0, 184, 172, .5), rgba(0, 184, 172, .9));
  background: #00b8ac;
}

.grayline {
  height: 1px;
  border-top: 0;
  background: #e9e9e9;
  margin: 4px 0;
}

@media only screen and (max-width : 768px) {
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .full-form-container {
    width: 300px;
  }
} 