/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  margin-top: 80px;
  background-image: image-url('asanoha.png');
}

.site-red {
  color: #dc2020;
}

.site-red:hover {
  color: #00b8ac;
}

.site-blue {
  color: #00b8ac;
}

.site-blue:hover {
  color: #dc2020;
}

.navbar-top-image {
  background-image: image-url('albums_banner.jpg');
  min-height: 80px;
}

.secondary-navbar {
  background-color: #98B9B7;
  min-height: 50px;
}

.navdrop-link {
    transition: all .4s;
}

.navdrop-link:hover {
  color: #dc2020;
  background-color: #e9e9e9;
  border-radius: 5px;
}

.notifications_number {
  font-size: 11px;
  color: #ffffff;
  background: #00b8ac;
  position: relative;
  height: 18px;
  min-width: 18px;
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  vertical-align: super;
  &:hover {
    color: #DC2020;
  }
}

.notifications_number:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-right-color: #00b8ac;
	border-left: 0;
	margin-top: -4px;
	margin-left: -4px;
}

.current {
    background-color: #dc2020;
    border-radius: 7px;
    transition: all .3s;
}

.current:hover {
    background-color: #00b8ac;
    border-radius: 7px;
}

@media only screen and (max-width : 768px) {
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
} 