.special_title {
  font-family: 'Teko', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #rgba(0,0,0,.84);
  line-height: 48px;
  letter-spacing: 0;
  padding: 1rem 2rem;
}
  
  .blog_wrapper {
    width: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
    
    blockquote {
      font-size: 1em;
      color: #222;
      width:95%;
      font-style:italic;
      font-weight: 450;
      margin: 10px auto;
      padding: 1em 1.2em 1em 1.5em;
      border-left:8px solid #dc2020 ;
      line-height:1.6;
      position: relative;
      background:#e2e9e9;
    }
    
    blockquote span{
      display:block;
      color:#333333;
      font-style: normal;
      font-weight: bold;
      margin-top:1em;
    }
    
    .blog_info {
      display: block;
      padding-left: 2rem;
      .blog_info_user_avatar {
        float: left;
      }
      .blog_info_user_name {
        display: inline-block;
        font-size: .8rem;
        margin-left: 1rem;
        a {
          text-decoration: none;
          color: #DC2020;
          &:hover {
            color: #00b8ac;
          }
        }
      }
      .blog_info_date {
        display: inline-block;
        font-size: .8rem;
        color: #777777;
        font-style: italic;
        margin-left: 1rem;
        a {
          text-decoration: none;
          color: #DC2020;
          &:hover {
            color: #00b8ac;
          }
        }
      }
      .blog_info_user_stats {
        display: inline-block;
        font-size: .75rem;
        color: #555555;
        font-weight: 500;
        margin-left: .4rem;
      }
    }
    .blog_content {
      padding: 1rem 2rem;
      line-height: 1.7em;
      font-size: 1em;
      display: block;
      font-style: normal;
      color: rgba(0,0,0,.84);
      word-break: break-word;
      word-wrap: break-word;
      a {
        text-decoration: none;
        color: #DC2020;
        font-weight: 700;
        &:hover {
          color: #00b8ac;
        }
      }
    }
    pre {
      font-size: 14px;
      font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
      width: auto;
      display: block;
      clear: both;
      tab-size: 4;
      overflow: auto;
      border: solid 1px #e1e1e1;
      border-left: solid 12px #e1e1e1;
      padding: 14px;
      padding-left: 1.8em;
      
      /* Fixed line height */
      line-height: 24px;
      
      /* Use repeating-linear-gradient for background image */
      background-image: repeating-linear-gradient(
          180deg,
          #f7f7f7 0px,
          #f7f7f7 24px,
          #fff 24px,
          #fff 48px);
    
      /* Offset the background along the y-axis by top padding */
      background-position: 0 14px;
    }
  }
  
ol {
  list-style-position: inside;
}