@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#welcome_background {
  height: 100vh;
  background-image: image-url('welcome_background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  h1 {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 5rem 0 2rem 0;
  }
}

#other_background {
  height: 100vh;
  background-image: image-url('login_background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

#background-other-overflow {
  height: 100vh;
  background-image: image-url('login_background.jpg');
  background-size: cover;
  background-position: center;
}