@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

#welcome_background {
  height: 100vh;
  background-image: image-url('welcome_background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  h1 {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 5rem 0 2rem 0;
  }
}

#other_background {
  height: 100vh;
  background-image: image-url('login_background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

#other_background_nocenter {
  height: 100vh;
  background-image: image-url('login_background.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: border-box;
}

#tag_background_nocenter {
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: border-box;
}

#other_background_overflow {
  background-image: image-url('dark-bg.gif');
  overflow-y: auto;
}

#repeat_background {
  height: 100vh;
  background-image: image-url('login_background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

.tag_style_fantasy {
  background-image: url('https://yarnn.s3-us-west-2.amazonaws.com/backgrounds/tag_fantasy_background.jpg');
}

.tag_style_horror {
  background-image: url('https://yarnn.s3-us-west-2.amazonaws.com/backgrounds/tag_horror_background.jpg');
}

.tag_style_military {
  background-image: url('https://yarnn.s3-us-west-2.amazonaws.com/backgrounds/tag_mil_background.jpg');
}

.tag_style_premium {
  background-image: url('https://yarnn.s3-us-west-2.amazonaws.com/backgrounds/tag_premium_background.jpg');
}

.tag_style_scifi {
  background-image: url('https://yarnn.s3-us-west-2.amazonaws.com/backgrounds/tag_scifi_background.jpg');
}

.tag_style_western {
  background-image: url('https://yarnn.s3-us-west-2.amazonaws.com/backgrounds/tag_western_background.jpg');
}