<div id="other_background_nocenter" style="overflow-y: auto;">

    <div class="container full-form-container mt-2">
        <div class="row justify-content-center trans-bg p-3 mt-3 p-sm-4 mt-sm-5 rounded">
            <div class="col-11">
                <%= render 'form', log: @log %>
            </div>
        </div>
    </div>
</div>
