*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}

body, html{
	/*height: 100%;*/
}

#hap-wrapper{
	position: relative;
	font-family: 'Arial Narrow', sans-serif;
	-moz-box-shadow: 3px 3px 15px #999;
    -webkit-box-shadow: 3px 3px 15px #999;
    box-shadow: 1px 1px 15px #999;
    height: 100%;
    width:100%;

  	margin: 0 auto;
	max-width:800px;
	height: 240px;
}
.hap-player-outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hap-player-holder{
	position:relative;
	background: #fff;
	float: left;
	height: 100%;
	width: 100%;
	z-index: 20;
	box-shadow: -1px 0 15px #999;
	box-sizing: border-box;
}
.hap-player-holder-opened{
	left:calc(100% - 50px)!important;
}
.hap-player-thumb-wrapper{
	width:40%;
	float:left;
	position:relative;
	height:100%;
	overflow:hidden;
}
.hap-player-thumb{
	width: 100%;
	height: 100%;
}
.hap-player-thumb img{
	display:block;
	position: absolute;
	max-width:none;
	min-width: 100%;
	min-height: 100%;
}
.hap-playlist-toggle{
	position: absolute;
	top:0;
	left:0;
	width: 50px;
	height: 50px;
}
.hap-playlist-toggle i{
	color: #fff!important;
}
.hap-share-toggle{
	position:absolute;
	width: 50px;
	height: 50px;
	top:0;
	right:0;
}
.hap-share-holder{
	position:absolute;
	top:0px;
	right:15px;
	width:165px;
	height:50px;
	display: none;
	background: rgba(0,0,0,0.01);
}
.hap-share-item{
	position: relative;
	width:25px;
	height:50px;
	top:0;
	float: left;
	margin-right:10px;
}
.hap-share-toggle i,
.hap-share-item i{
	font-size:20px!important;
	color: #fff!important;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height:100%;
	text-align: center;
	display: inline-block;
	line-height: 50px!important;
}


.hap-icon-color{
	color:#666 !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#DC2020 !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn i{
	position: absolute;
    top: 0;
    left: 0;
	width:50px;
	height:50px;
	text-align: center;
	display: inline-block;
	font-size: 18px!important;
	line-height: 50px!important;
}

.hap-player-right{
	position: relative;
	top:0px;
	height: 100%;
	overflow:hidden;
}
.hap-seekbar{
	position:relative;
	top:0;
	left:0;
	width: 100%;
	height:15px;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:relative;
	background:#ccc;
	width:100%;
	top:0px;
	height:5px;
}
.hap-load-level{
	position:absolute;
	background:#ddd;
	top:0px;
	height:5px;
}
.hap-progress-level{
	position:absolute;
	background:#DC2020;
	top:0px;
	height:5px;
	width:0;
}

.hap-media-time-current{
	position:relative;
	top:-3px;
	left:10px;
	height:20px;
	line-height:20px !important;
	text-align: center;
	float:left;
	margin:0!important;
	padding: 0px 0px 0px 2px!important;
	color:#333 !important;
	font-size:13px!important;
	pointer-events:none;
	width:auto;
}
.hap-media-time-total{
	position:relative;
	top:-3px;
	right:10px;
	height:20px;
	line-height:20px !important;
	text-align: center;
	float:right;
	margin:0!important;
	padding: 0px 0px 0px 2px!important;
	color:#333 !important;
	font-size:13px!important;
	pointer-events:none;
	width:auto;
}

.hap-center-elements{
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.hap-info{
	position: relative;
	text-align: center;
	margin-top:30px;
}
.hap-player-title{
	width: 300px;
	font-size: 24px;
	font-family: 'Teko', cursive;
	text-align: center;
	margin:0;
	margin-bottom: 3px;
	padding:0;
	font-weight: 600;
	color:#222;
}
.hap-player-artist{
	font-size:15px;
	color:#222;
	margin:0;
	padding:0;
	text-align: center;
}


.hap-controls{
	position: relative;
	width:150px;
	height:50px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.hap-prev-toggle{
	position:absolute;
	top:0px;
	left:0px;
	width:50px;
	height:50px;
}
.hap-playback-toggle{
	position:absolute;
	top:0px;
	left:50px;
	width:50px;
	height:50px;
}
.hap-playback-toggle i{
	width:50px;
	height:50px;
	text-align: center;
	display: inline-block;
	font-size: 24px!important;
	line-height: 50px!important;
}
.hap-next-toggle{
	position:absolute;
	top:0px;
	right:0px;
	width:50px;
	height:50px;
}

.hap-volume-seekbar{
	position: relative;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
	width:200px;
	height:16px;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	top:7px;
	left:10px;
	width:180px;
	height:4px;
	background:#ddd;
}
.hap-volume-level{
	position:absolute;
	top:7px;
	left:10px;
	width:0px;
	height:4px;
	background:#DC2020;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
.hap-volume-drag{
    position: relative;
	top:-9px;
    width: 21px;
    height: 21px;
	border-radius: 100%;
	background:#DC2020;
	-webkit-transform: scale( 0.5 );
    transform: scale( 0.5 );
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
   	box-sizing: border-box;    
   	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    float: right;
 	margin-right: -9px;
}
.hap-volume-drag:hover,
.hap-volume-drag:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.hap-random-toggle{
	position:absolute;
	bottom: 0px;
	left:20px;
	width:50px;
	height:50px;
}
.hap-loop-toggle{
	position:absolute;
	bottom: 0px;
	right:20px;
	width:50px;
	height:50px;
}


#hap-playlist-list{
	display:none;
}

.hap-playlist-holder{
	position: absolute;
	left:0;
	top:0;
	width: calc(100% - 50px);
	height:100%;
	background: #fff;
	overflow: hidden;
}
.hap-playlist-inner{
	position: relative;
	height: 100%;
	box-sizing: border-box; 
	padding: 20px;
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	line-height: 35px;
	font-size:18px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
 	overflow: hidden;
}
.hap-playlist-item > a {
    border: 0;
}
.hap-playlist-item:last-child {  
	border-bottom:none;
}
.hap-playlist-selected {
	color:#DC2020;
	text-decoration: none; 
}
.hap-playlist-non-selected {
	color:#222;
	text-decoration: none; 
}
.hap-download, .hap-link{
	float:right;
	color:#333!important;
	font-size: 16px!important;
	margin-left: 15px;
}
.hap-download i, .hap-link i{
	color:inherit;
}
.hap-download:hover, .hap-link:hover{
	color:#DC2020!important;
}
.hap-playlist-title-num{
	margin-left: 5px;
}
.hap-playlist-title-num,
.hap-playlist-title{
	font-family: 'Teko', cursive;
	vertical-align:middle;
	font-size:17px;
	color:inherit;
}



.hap-tooltip{
	position:absolute;
	background:#DC2020;
	color:#fff!important;
	text-align:center;
	z-index:10000;
	pointer-events:none;
	border:1px solid #ccc;
	-moz-box-shadow: 3px 3px 15px #999;
    -webkit-box-shadow: 3px 3px 15px #999;
    box-shadow: 1px 1px 5px #999;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:12px!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}

.hap-preloader {
	position:absolute;
	top:50%;
	left:50%;
    width: 40px;
    height: 40px;
    margin-left:-20px;
	margin-top:-20px;
    background-color: #DC2020;
    -webkit-animation: hap_preloader 1.2s infinite ease-in-out;
    animation: hap_preloader 1.2s infinite ease-in-out;
}
@-webkit-keyframes hap_preloader {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes hap_preloader {
    0% { 
	    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
	    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
	    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}


.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}
.hap-mCSB_full{/* hide scroll area when no scroll */
	margin-right: 0!important;
}




@media only screen and (max-width: 650px) {
	#hap-wrapper{
		height: 480px;
	}
	.hap-player-outer{
		height: auto;
	}
	.hap-player-right{
		clear: left;
		min-height: 240px;
	}
	.hap-player-thumb-wrapper{
		width: 100%;
		min-height: 240px;
	}
}
