<!DOCTYPE html>
<html>
<head>
  <title>YarnnFm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright|Hind|Raleway|Lato|Ovo|Teko" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
